// Could be used for layout styles

.site-container.pattern-gallery {
  background-color: black;
  padding: 10vw;
  button.refresh {
    background-color: #4B4440;
    margin: 0 auto 2em auto;

  }
  section.grid {
    // @include breakpoint(large) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
      grid-template-rows: repeat(10, 1fr);
      grid-gap: 1em;
      grid-auto-flow: dense;
      // padding-right: 33vw;
      // grid-template-rows: repeat(4, auto)
      .grid-item {
        // border: 1px solid tomato;

        // &:nth-child(4) {
        //   grid-column: 3 / 6;
        //   grid-row: 2 / 4;
        // }
      } // div
    // } // large

    .h1 {
      grid-row: span 1;
    }
    .h2 {
      grid-row: span 2;
    }
    .h3 {
      grid-row: span 3;
    }
    .h4 {
      grid-row: span 4;
    }
    .h5 {
      grid-row: span 5;
    }
    .h6 {
      grid-row: span 6;
    }
    .v1 {
      grid-column: span 1;
    }
    .v2 {
      grid-column: span 2;
    }
    .v3 {
      grid-column: span 3;
    }
    .v4 {
      grid-column: span 4;
    }
    .v5 {
      grid-column: span 5;
    }
    .v6 {
      grid-column: span 6;
    }
  }

  .dark {
    background-color: #4B4440;
  }
  .orange1 {
    background-color: #F17536;
  }
  .yellow {
    background-color: #FBE5AB;
  }
  .orange2 {
    background-color: #EA9450;
  }
  .brown {
    background-color: #A36F4E;
  }

  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .circle {
    clip-path: circle(50% at 50% 50%);
  }
  .parallelogram {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  .rhombus {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  .chevron-r {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  .chevron-l {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
  .star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  .cross {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
  .frame {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  }

} // pattern-gallery
