body {
  background-color: $bg;
  font-size: 20px;
  font-family: $serif;
  color: $text;
  margin: 0;
  padding: 0;
}

$ratio: 1.2;
$hbase: 5;

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  font-weight: normal;
}

h1 {
 font-size: #{$hbase}em;
 margin: 0 0 #{$ratio/2}em 0;
 font-weight: bold;
 font-family: $display;
}

h2 {
  font-size: #{($hbase/$ratio)}em;
  margin: 0 0 #{$ratio/2}em 0;
}

h3 {

  font-size: #{($hbase/$ratio/2)}em;
  margin: 0 0 #{$ratio/2}em 0;
}

h4 {
  font-size: #{($hbase/$ratio/3)}em;
  margin: 0 0 #{$ratio/2}em 0;
  &  .chapter {
    text-align: center;
  }
}

h5 {
  font-size: #{($hbase/$ratio/4)}em;
  margin: 0 0 #{$ratio/2}em 0;
  &.section-title {
    text-transform: uppercase;
    margin-top: 0.1em;
    font-weight: 300;
    letter-spacing: 0.1em;
    @include breakpoint(large) {
      text-align: right;
    }
  }
}

h6 {
  font-size: #{($hbase/$ratio/5)}em;
  margin: 0 0 #{$ratio/2}em 0;
}

p {
  color: $text;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 #{$ratio}em 0;
  max-width: 32em;
}


a {
  color: $clickable;
  transition: color $hover-timing ease;
  &:hover {
    color: darken($clickable, 6%);
  }
}
