/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* END BOX MODEL SETTINGS */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book-roman-old-style-figures.eot");
  src: url("fonts/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-roman-old-style-figures.woff") format("woff"), url("fonts/et-book-roman-old-style-figures.ttf") format("truetype"), url("fonts/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "et-book-display";
  src: url("fonts/et-book-display-italic-old-style-figures.eot");
  src: url("fonts/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-display-italic-old-style-figures.woff") format("woff"), url("fonts/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("fonts/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book-semi-bold-old-style-figures.eot");
  src: url("fonts/et-book-semi-bold-old-style-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-semi-bold-old-style-figures.woff") format("woff"), url("fonts/et-book-semi-bold-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book-bold-line-figures.eot");
  src: url("fonts/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-bold-line-figures.woff") format("woff"), url("fonts/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Source Code";
  src: url("fonts-variable/SourceCodeVariable-Italic.otf") format("otf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Source Code";
  src: url("fonts-variable/SourceCodeVariable-Roman.otf") format("otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Source Sans";
  src: url("fonts-variable/SourceSansVariable-Italic.otf") format("otf"), url("fonts-variable/SourceSansVariable-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Source Sans";
  src: url("fonts-variable/SourceSansVariable-Roman.otf") format("otf"), url("fonts-variable/SourceSansVariable-Roman.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Source Serif";
  src: url("fonts-variable/SourceSerifVariable-Roman.otf") format("otf"), url("fonts-variable/SourceSerifVariable-Roman.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

.button-reset {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  vertical-align: baseline;
  border-radius: 0; }

button, a.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  display: block;
  background-color: #b7006a;
  color: white;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  line-height: 1.2em;
  max-width: 280px; }
  button:hover, a.button:hover {
    background-color: #980058; }

.site-container.mccarthy {
  padding: 10vw; }
  @media screen and (min-width: 64em) {
    .site-container.mccarthy {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 2em; } }

body {
  background-color: #fffcf0;
  font-size: 20px;
  font-family: "et-book", "Adobe Garamond", Garamond, serif;
  color: #2f2e2b;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  font-weight: normal; }

h1 {
  font-size: 5em;
  margin: 0 0 0.6em 0;
  font-weight: bold;
  font-family: "et-book-display", "Adobe Garamond", Garamond, serif; }

h2 {
  font-size: 4.16667em;
  margin: 0 0 0.6em 0; }

h3 {
  font-size: 2.08333em;
  margin: 0 0 0.6em 0; }

h4 {
  font-size: 1.38889em;
  margin: 0 0 0.6em 0; }
  h4 .chapter {
    text-align: center; }

h5 {
  font-size: 1.04167em;
  margin: 0 0 0.6em 0; }
  h5.section-title {
    text-transform: uppercase;
    margin-top: 0.1em;
    font-weight: 300;
    letter-spacing: 0.1em; }
    @media screen and (min-width: 64em) {
      h5.section-title {
        text-align: right; } }

h6 {
  font-size: 0.83333em;
  margin: 0 0 0.6em 0; }

p {
  color: #2f2e2b;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 1.2em 0;
  max-width: 32em; }

a {
  color: #b7006a;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  a:hover {
    color: #980058; }

.site-container.pattern-gallery {
  padding: 10vw; }
  .site-container.pattern-gallery section.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 2em;
    grid-auto-flow: dense; }
    .site-container.pattern-gallery section.grid .h1 {
      grid-row: span 1; }
    .site-container.pattern-gallery section.grid .h2 {
      grid-row: span 2; }
    .site-container.pattern-gallery section.grid .h3 {
      grid-row: span 3; }
    .site-container.pattern-gallery section.grid .h4 {
      grid-row: span 4; }
    .site-container.pattern-gallery section.grid .h5 {
      grid-row: span 5; }
    .site-container.pattern-gallery section.grid .h6 {
      grid-row: span 6; }
    .site-container.pattern-gallery section.grid .v1 {
      grid-column: span 1; }
    .site-container.pattern-gallery section.grid .v2 {
      grid-column: span 2; }
    .site-container.pattern-gallery section.grid .v3 {
      grid-column: span 3; }
    .site-container.pattern-gallery section.grid .v4 {
      grid-column: span 4; }
    .site-container.pattern-gallery section.grid .v5 {
      grid-column: span 5; }
    .site-container.pattern-gallery section.grid .v6 {
      grid-column: span 6; }
  .site-container.pattern-gallery .dark {
    background-color: #4B4440; }
  .site-container.pattern-gallery .orange1 {
    background-color: #F17536; }
  .site-container.pattern-gallery .yellow {
    background-color: #FBE5AB; }
  .site-container.pattern-gallery .orange2 {
    background-color: #EA9450; }
  .site-container.pattern-gallery .brown {
    background-color: #A36F4E; }
