.site-container.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    // background-color: yellow;
    .grid-item {
      border: 1px solid red;
      position: relative;
      &:last-child {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-column-end: 4;
        grid-row-end: 4;
      }
    }
  }
}